<!-- Page: skills.html -->
<!-- 1. Two columns layout of skills -->

<div class="row skillsRow" ng-repeat="item in vm.skills" ng-if="$index % 2 === 0">

    <div class="col-sm-6 skillText">
        <img class="img-responsive imgClass center-block" src="{{item.url}}">
        <div class="well skillDesc"> {{item.comments}}</div>
        <div class="row">
            <div class="col-sm-6 skillText">{{item.user_name}}</div>

            <div class="col-sm-6 pull-right">
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"
                   ng-click="vm.clicklikes($index)"></i>
                {{item.skill_skills}}
            </div>
        </div>
    </div>

    <div class="col-sm-6" ng-if="($index + 1) < vm.skills.length">
        <img class="img-responsive imgClass center-block" src="{{vm.skills[$index+1].url}}">
        <div class="skillDesc well">{{vm.skills[$index+1].comments}}</div>
        <div class="row">
            <div class="col-sm-6">{{vm.skills[$index+1].user_name}}</div>
            <div class="col-sm-6 pull-right">
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"
                   ng-click="vm.clickskills($index+1)"></i>
                {{vm.skills[$index+1].skill_skills}}
            </div>
        </div>
        <br/>

    </div>
</div>
